<!-- <form #fileID="ngForm" (ngSubmit)="fileSubmit(fileID.value)"> 
    <div style="position: absolute;top:20%;left:40%;">
      <input type="text" class="inputText" name="fileID" placeholder="Enter the File ID for Approval" ngModel>
      <input type="submit" value="Search" class="btn btn-dark" style="position: absolute;top:20%;left:200%;"/>  
    </div>
    <div style="position: absolute;top:40%;left:25%; width:70%">
      <app-tabview-approve *ngIf="_flag" [_responsefromApp]='_response'></app-tabview-approve>
    </div> 
</form>
 -->

 <div>
  <router-outlet></router-outlet>
</div> 

