<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <br/><br/><br/>
    <div class="list-group list-group-flush">
      <a routerLink="/Home" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Get File Status</a>
      <a routerLink="/getFileData" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Search Filename</a>
      <a routerLink="/approveFileData" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Approve File</a>
      <a routerLink="/deleteFileData" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Delete File</a>
      <a routerLink="/getTCNFromFile" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Get TCN from File</a>
      <a routerLink="/getFileFromTCN" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Get File from TCN</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="toolbar" role="banner">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/conduent-logo.png" class="img-responsive" alt="Conduent Logo" style ="height: 40px;"/>
    </a>

      <span class="main-header">PSS Production Tools</span>
    </div>
    
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
