<form #fileName="ngForm" (ngSubmit)="fileSubmit(fileName.value)"> 
    <div style="position: absolute;top:15%;left:40%;" [@fade]>
      <input type="text" class="inputText" name="fileName" placeholder="Enter the File Name" ngModel>
      <input type="submit" value="Get TCN" class="btn btn-dark" style="position: absolute;top:20%;left:200%;"/>  
    </div>
    <div style="position: absolute;top:21%;left:25%; width:70%">
      <app-tabview-gettcn *ngIf="_flag" [_responsefromApp]='_response'></app-tabview-gettcn>
    </div> 
</form>
